@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Roboto&display=swap");

html,
body {

  font-family: Open Sans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
